.home-container {
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:black;
}

.home-card{
    width:400px;
    height:400px;
    background-color: white;
    border-radius: 20px;
    display: inherit;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-transform: capitalize;
}

.home-card div{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.home-card button{
    width: auto;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    transition: all 1s;
}

.home-card button:hover{
    opacity: 0.8;
}
