.btn{
    padding: 5px 10px;
    display: block;
    border-radius: 3px;
    color: white;
    width: 50%;
    background-color: #5F9EA0;
    text-align: center;
    margin-left: 33px;
    margin-top: 5px;
    cursor: pointer;
}

img{
    object-fit: cover;
}